    <!-- Main Feed -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="medium-6 columns">
 
      <!-- Feed Entry -->
      <div class="row">
        <div class="large-12 columns">
          <h2>Book Series in Chinese Linguistics</h2>
          <hr>
          <ol>
            <li><a href="publication_books_article.html" title=""><h5>Taiwan Journal of Linguistics Book Series in Chinese Linguistics No. 1</h5></a></li>
            <li><a href="#" title=""><h5>Taiwan Journal of Linguistics Book Series in Chinese Linguistics No. 2</h5></a></li>
            <li></li>
          </ol>
        </div>
      </div>

    </div>
    <aside class="medium-3 columns hide-for-small">
      <h5 style="text-align:center;">THCI CORE Certificate</h5>
      <p><img src="assets/certificate_1.jpg" /></p>
      <p><img src="assets/certificate_2.jpg" /></p>
    </aside>