    <!-- Main Feed -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="medium-9 columns">
 
      <!-- Feed Entry -->
      <div class="row">
        <div class="large-12 columns">
          <h2>Subscription</h2>
          <hr>
          <h3>Electronic subscription</h3>
          <h6>Please contact <a href="mailto:TJL@nccu.edu.tw" target="_top">TJL@nccu.edu.tw</a>. Please note that TJL is now open access.<br></h6>
          <br>
          <h3>Hardcopies or advertising</h3>
          <h6>Please contact Miss Lulu Ku at <a href="lulu@crane.com.tw" target="_top">lulu@crane.com.tw</a> or<br>
          Crane Publishing Co. 3F., No.200, Sec. 2, Jinshan S. Rd., Da-an District, Taipei City, Taiwan, ROC<br>
          Tel: +886-2-2293-4497</h6>
        </div>
      </div>
      <!-- End Feed Entry -->
 
    </div>