    <!-- Main Feed -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-6 columns">
 
      <!-- Feed Entry -->
      <div class="row">
        <div class="large-12 columns">
          <h2>Publication</h2>
          <hr>
          <p>The aim of The TJL Monograph Series and Book Series is to aid linguists in Taiwan make research findings available to a wider domestic and international readership. Researchers in academic fields in Taiwan are frequently forced to resort to the unprofessional practice of ‘self-publishing’, especially for presentation of a major work which may be submitted in application for promotion. Linguists in Taiwan now have an alternative in that The TJL offers a professional channel for book-length manuscripts to be anonymously peer-reviewed, formally published, and commercially distributed. The same standards that apply to TJL journal articles apply here as well.</p>
          <h3>Monograph</h3>
          <h3>Book Series</h3>
        </div>
      </div>

    </div>
 
    <!-- Right Sidebar -->
    <!-- On small devices this column is hidden -->
    <aside class="large-3 columns hide-for-small">
      <p><img src="image/certificate_1.jpg" /></p>
      <p><img src="image/certificate_2.jpg" /></p>
    </aside>