    <!-- Main Feed -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-6 columns">
 
      <!-- Feed Entry -->
      <div class="row">
        <div class="large-12 columns">
          <h2>Monograph</h2>
          <hr>
          <ol>
            <li><a href="template_01_publication_monograph_article.html" title=""><h5>Taiwan Journal of Linguistics Monograph Series NO.1</h5></a></li>
            <li><a href="#" title=""><h5>Taiwan Journal of Linguistics Monograph Series NO.2</h5></a></li>
            <li><a href="#" title=""><h5>Taiwan Journal of Linguistics Monograph Series NO.3</h5></a></li>
            <li></li>
          </ol>
        <ul class="inline-list">
          <li><a href="">Back</a></li>
        </ul>
        </div>
      </div>
    </div>
 
    <!-- Right Sidebar -->
    <!-- On small devices this column is hidden -->
    <aside class="large-3 columns hide-for-small">
      <p><img src="image/certificate_1.jpg" /></p>
      <p><img src="image/certificate_2.jpg" /></p>
    </aside>