<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Taiwan Journal of Linguistics</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
    <!-- Header and Nav -->
  <div class="row" >
    <div class="large-12 columns top">
      <div class="panel">
        <div class="row">
          <div class="medium-2 columns">
            <img src="../assets/thci-core.png">
          </div>
          <div class="medium-10 columns">
            <h1>Taiwan Journal of Linguistics</h1>
            <h3>An Open Access Journal</h3>
            <h5>ISSN: 1729-4649(print); 1994-2559(online)</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Header and Nav -->
  <div class="row">
 <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="medium-3 large-3 columns ">
      <div class="panel">
          <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
            <h5 class="title"><a href="volumes">Volumes</a></h5>
            <h5 class="title"><a href="history">History</a></h5>
            <h5 class="title"><a href="editors">Editors</a></h5>
            <h5 class="title"><a href="contributors">Contributors</a></h5>
            <h5 class="title"><a href="publication">Monograph &amp; Bookseries</a></h5>
            <h5 class="title"><a href="subscription">Subscription</a></h5>
            <h5 class="title"><a href="policy">Editorial Policy</a></h5>
        </div>
      </div>
    </div>

<%= yield %>
	</div>
  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-12 columns">
          <ul class="inline-list right">
            <li><a href="volumes">Volumes</a></li>
            <li><a href="history">History</a></li>
            <li><a href="editors">Editors</a></li>
            <li><a href="contributors">Contributors</a></li>
            <li><a href="publication">Monograph &amp; Bookseries</a></li>
            <li><a href="subscription">Subscription</a></li>
            <li><a href="policy">Editorial Policy</a></li>
          </ul>
        </div> 
        <div class="large-12 columns">
          <p class="right">© Copyright Taiwan Journal of Linguistics</p>
        </div>
      </div>
    </div>
  </footer>
</div>
</body>
</html>